{% extends 'index.html' %}

{% block content %}


{% load static %}


<style>
    .container{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        min-height: 65vh;
        margin-top: 1vh;
    }

</style>




{% load crispy_forms_tags %}



<div class="container">    
    <img style="height: 12rem; width: 15rem; justify-content: center; margin: 2rem 1.2rem 2rem 0rem" src="/static/images/Rectangle 50.png" alt="" srcset="">
    <h1>Make Reservation</h1>
    <form action="" method="post">
        {% csrf_token %}
        
        {{ reservation_form|crispy }}
        
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>
{% endblock content %}
