{% extends 'index.html' %}


{% block content %}
{% load crispy_forms_tags %}



<style>
    .container{
        border: red;
        display:flex;
        padding-top: 3rem;
        justify-content: center;
        align-items: center;
        flex-direction:column;
    }
</style>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>  
    {% endfor %}
{% endif %}

<div class="container">    
    <h1>Sign Up</h1>
    <form action="" method="post">
        {% csrf_token %}
        
        {{ signupform|crispy }}
        
        <input class="btn btn-primary" type="submit" value="Submit">
        <h6 style="padding-top: 1rem">Already have an account <a href="{% url 'login' %}">Login</a></h6>
    </form>
</div>
{% endblock content %}
