{% extends 'index.html' %}


{% block content %}
{% load crispy_forms_tags %}



<style>
    .container{
        border: red;
        display:flex;
        padding-top: 3rem;
        justify-content: center;
        align-items: center;
        flex-direction:column;
    }
</style>


<div class="container">    
    <h1>Sign Up</h1>
    <form action="" method="post">
        {% csrf_token %}
        
        {{ signupform|crispy }}
        
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>
{% endblock content %}